# Python Basics Week 1

Week one topics: 
- Python Notebooks
- Operators
- Print()
- Variable Assignment
- Data Types
- Input()
- Commenting

## Before you launch a notebook, set your working directory

Navigate to the folder that you want to save scripts to. There are ways to set a working directory through code, but for now we can use the GUI (graphical user interface) to keep track of where our files are being saved to.

## Python Notebooks

A Python Notebook is a type of file that allows you to write and run Python code. Python scripts could be written in just a plain text file (.txt), but notebooks also allow us to include formatted text (through Markdown) and even embed links, images, and other media in the notebook alongside our code.

These notebooks use the file extension .ipynb (as opposed to a python script, .py)

Most people use an Interactive Development Invironment (IDE) when they are writing code. These are programs like Visual Studio Code, Google Colab, Jupyter Lab, Spyder, PyCharm, and more. They include features that make it easier to write code, like color-coding, installable extensions, and debugging features.

By default, new cells are `code cells`. Hovering between cells gives you the option of adding a new code cell or a new markdown cell. You can also use the buttons at the top of the screen to add new cells. A new cell is added by default when you run the last cell currently on the page.

You can click and drag to the left of the cell to reorder cells in your notebook.

Press shift + enter to run a cell (note to Mac R users - command+enter runs the cell but does not automatically create a new cell below). You can also use the play button to the right of the cell.

When you run a code cell for the first time, you might be prompted to choose your Python environment or kernel. At the top of the page, select the version of Python that you want to use for the notebook you're currently in.

## Operators

Operators are symbols, combinations of symbols, or keywords that designate some type of computation. There are a number of different operators used in Python. The most recognizable are the arithmetic operators: +, -, *, /, ** and %

In [1]:
40 + 3 + 2  # addition

45

In [2]:
25 - 21  # subtraction

4

In [3]:
3*4  # multiplication

12

In [4]:
20/6  # division produces quotients as floating point numbers - we will talk about the different numeric types in a bit

3.3333333333333335

In [5]:
20//6  # floor division returns a quotient rounded down to the nearest whole number
# think of this as the whole number of times that the divisor fits into the dividend

3

In [6]:
20%6  # the modulo operator returns the remainder after dividing two numbers

2

In [7]:
# Arithmetic operators also work with complex numbers:
10/5j

-2j

### Order of Operations

Python's order of operations is similar to what you might have learned in school, with a few tweaks. 

- Parentheses have the highest precedence, so when in doubt put it in parens! 
- Exponentiation has the next highest precedence. 
- Multiplication, division, floor division, and the modulo have equal precendence
- Addition/subtraction have the lowest precendence of the aritmetic operators.

### Comparison Operators

In [8]:
# The equality operator returns a boolean (True/False) value
42 == 42

True

In [9]:
# Not equal to:
42 != 40

True

In [10]:
# Less than (and greater than)
32 < 38

True

In [11]:
# Less than or equal to (and greater than or equal to)
32 <= 88

True

**Important** : If you work with decimal (floating point) numbers, be aware that computers will do funky things with decimals (especially infinitely repeating decimals) and you may not get the result you expect if you use the comparison operators to compare floating point numbers. See [this link](https://realpython.com/python-numbers/#make-python-lie-to-you) for further reading.

## The Print Function

Traditionally, the first thing you learn to do when learning a computer language is learn how to display the words "Hello world!". Fortunately, Python makes this quite straightforward:

In [12]:
print('Hello world!')

Hello world!

The `print()` function will display whatever is shown inside the parentheses to the right of the word `print`. 

We call the value inside the parentheses an "argument" that is "passed" to the function. We will go much more in-depth with regards to arguments and functions in week 6. For now, remember that an argument is a piece of information provided by you to the function, and that different functions may take no arguments, one argument, or multiple arguments.

We put *Hello world* in quotation marks (double or single) to tell Python that we are displaying text. The quotation marks around our text are not displayed.

Calculations can be performed inside of `print()`:

In [13]:
print(4+3)

7

We can print multiple things by separating them with commas. The result will print on one line.

In [14]:
print("20 divided by 6 is", 20//6, "with remainder", 20%6)

20 divided by 6 is 3 with remainder 2

## Variable Assignment

Variables are (explanation of what a variable is)

Variables in Python scripts have to follow certain rules:
1. The variable cannot start with a number
2. Variables are case-sensitive
3. Variable names cannot contain special characters like !, @, #, * - only a-z, A-Z, 0-9, and the underscore ( _ )

In addition to these rules, there are a few conventions that are typically followed:
1. Variables are written in snake_case, though you may also see camelCasing
2. Contants (as opposed to variables) are written in all caps
3. Variables should be given short, descriptive names that are related to what they stand for

In [15]:
# These are examples of valid variable names:
pet = "dog"
Pet = "cat"
peT = "snake"
_pet = "fish"
pet1 = "bird"

Just to drive home that capitalization matters in variable names:

In [16]:
print(pet)

dog

In [17]:
print(Pet)

cat

In [18]:
# These are not valid variable names:
&pet = "dog"
1pet = "bird"

SyntaxError: invalid decimal literal (1543149109.py, line 3)

In addition to the rules above, there is also a set of words that you will want to avoid - the Python 3 keywords. The Python interpreter uses these keywords as part of the structure of the program. A few of the keywords are:
- False
- True
- None
- yield
- try
- break
- global
- nonlocal

There are 33 keywords total in Python 3.12. You do not need to memorize them; in most development environments, these words will display in a different color than other variable names to alert you to their presence.

### Assigning and Reassigning Variables

Think of a variable like a box that can hold a value. However, the box can only hold one value at a time. Reassigning the value of a variable removes the old value and will replace it in all instances where the variable is used.

Variables are assigned using the assignment operator: `=`

In [19]:
first_name = "Abby"
age = 11
height = 24

Variables must be assigned before they can be used. If a variable doesnâ€™t exist yet, or if the name has been mispelled, Python reports a `NameError`.

In [20]:
print(last_name)

NameError: name 'last_name' is not defined

Variables persist between cells in a notebook. **The value of the variable comes from the cell which has been run the most recently**, not necessarily from the order of the cells in the notebook.

It can be helpful to use *Kernel* -> *Restart & Run All* to clear the interpreter and run everything from a clean slate going from top to bottom. Note that if the interpreter encounters an error, it will stop running code.

To reassign the value of a variable, you can use the same variable name and the assignment operator to assign a new value:

In [21]:
print(first_name)  # first_name has an existing value of "Abby"

Abby

In [22]:
first_name = "Alex"  # here we reassigned the value of first_name to "Alex"
print(first_name)

Alex

### Variables can be used in calculations

In [23]:
print("Age in three years:", age + 3)

Age in three years: 14

In [24]:
height * 2.54  # height in cm

60.96

## Commenting

You can add comments to code as helpful explanations and reminders by using the `#` symbol. 

Comments can appear on their own line by starting the line with a `#`.

In [25]:
# Mass in g
mass = 3.85

Comments can also be made "inline" as part of a line that also contains executable code. Anything that appears on the same line after a `#` counts as a comment, meaning it is not read or executed as part of the code.

In [26]:
mass = 3.85  # mass in g

## Data Types

So far, you have seen three different types of data: strings, integers, and floating point (or decimal) numbers. 

Strings are sequences of characters (in many cases, a "string" of letters, but numerals can also be strings)

Integers and floating point numbers (or "floats") are both numerical data types.

You can determine the data type of an expression or variable using the `type()` function:

In [27]:
type(52)

int

In [28]:
type(4.4)

float

In [29]:
type("Shelby")

str

Arithmetic operations can be performed with both integers and floats since they are both numeric:

In [30]:
new_number = 52 + 4.4
print(new_number, type(new_number))

56.4 <class 'float'>

However, you cannot perform arithmetic operations with both numeric and non-numeric data:

In [31]:
4.4 + "20"

TypeError: unsupported operand type(s) for +: 'float' and 'str'

There is something interesting that you can do with strings and the `+` and `*` operators:

In [32]:
"Shelby" + "Watson"

'ShelbyWatson'

In [33]:
"Shelby" * 3

'ShelbyShelbyShelby'

We will learn more about operations with strings next week.

### Changing data types

You can use the `int()`, `float()`, and `str()` functions to change an object's data type:

In [34]:
float(52)

52.0

In [35]:
int(4.4)

4

In [36]:
int("1")

1

In [37]:
str(42)

'42'

In [38]:
# You can't, however, change alpha characters into numerics:
int("one")

ValueError: invalid literal for int() with base 10: 'one'

## The Input Function

You can assign a variable value by prompting input from a user using the `input()` function. This can be helpful for values that might change each time you run the script.

In [39]:
name = input("What is your name?")
# the string inside the parentheses is an "argument" given (or "passed") to this function. 
# that string will appear as a prompt for the user alongside the text box

print("Good morning,", name)

Good morning, Shelby

One thing that is important to note is that **inputted data is always interpreted as string data**. You may need to convert the data to make it useful to you.

In [40]:
CURRENT_YEAR = 2025
birth_year = input("What year were you born?")
print("You are", CURRENT_YEAR - birth_year, "years old.")

TypeError: unsupported operand type(s) for -: 'int' and 'str'

Why didn't that work?

In [41]:
type(CURRENT_YEAR)

int

In [42]:
type(birth_year)

str

What can we change to fix this?

In [43]:
CURRENT_YEAR = 2025
birth_year = int(input("What year were you born?"))
print("You are", CURRENT_YEAR - birth_year, "years old.")

You are 11 years old.